# Dependencies
node_modules

# Build outputs
.next
out
dist
build

# Cache
.turbo
.swc

# Logs
*.log

# Environment files
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Test coverage
coverage

# Database
prisma/migrations
